*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.cart{
    background-color: #29ed29;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 15px 18px #a73333;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color:#1a1a1a;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #020000;
    background-color: #e7e2e2;
    outline: none;
    font-size: 15px;
}
.name_container{
    display: flex;
    gap: 10px;
    width: 100%;

}
button{
    padding: 7px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(137, 122, 161);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    align-self: center;

}
button:hover{
    background-color: rgb(117, 117, 117);
}