*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 100px;
    gap: 4px;
}
.item{
    background-color: orange;
    border: 1px solid black;
}
.item-1{
    grid-row: 1/2;
    grid-column: 1/3;
}
.item-2{
    grid-column: 3/4;
    grid-row: 1/3;
}
.item-6{
    grid-column: 2/4;
}