body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
h1, h2{
    color: #333;
}
.container{
    background-color: #fff;
    border: 2px solid #333;
    margin-bottom: 20px;
    padding: 10px;
}

.grid-container{
    display: grid;
    gap: 10px;
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.box{
    color: white;
    padding: 20px;
    font-size: 18px;
    background-color: #3498db;
    text-align: center;
}
.box:nth-child(even){
    background-color: #e74c3c;
}
