body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Edge */
  user-select: none;
}

/* Header */
header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

/* Hero */
.hero {
    background: url("./images/ChatGPT\ Image\ Dec\ 27\,\ 2025\,\ 01_17_09\ PM.png") center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

/* About */
.about {
    display: flex;
    gap: 30px;
    padding: 50px;
    background: #fff;
}

/* Festivals */
.festivals {
    background: #c96b2c;
    color: white;
    padding: 40px;
    text-align: center;
}

.festivals img {
    width: 100%;
    height: 180px;        /* same height for all images */
    object-fit: cover;   /* crop image without distortion */
    border-radius: 6px;
    pointer-events: none;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    color: black;
    padding: 10px;
    width: 250px;        /* fixed width */
    text-align: center;
    border-radius: 8px;
}

/* Education */
.education h2{
    text-align: center;
    margin-bottom: 30px;
}
.cardsed{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.education {
    background: #e7f1ff;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.card-p{
    background: white;
    color: black;
    padding: 10px;
    width: 250px;        /* fixed width */
    text-align: center;
    border-radius: 8px;
}
.card-p img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    pointer-events: none;
    
}

/* Health */
.health {
    background: #8bc34a;
    padding: 40px;
    color: white;
}

/* Gallery */
.gallery {
    background: #fff;
    padding: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* Footer */
footer {
    background: #5b3a29;
    color: white;
    text-align: center;
    padding: 15px;
}
