*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.card{
    background-color: #dfd1d1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    width: 300px;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color:#1a1a1a;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #020000;
    border-radius: 5px;
    background-color: #e7e2e2;
}
button{
    padding: 7px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(137, 122, 161);
    color: white;
    font-size: 16px;
}
button:hover{
    background-color: rgb(117, 117, 117);
}